* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Image/banner.png);
    position: relative;
    background-position: center;
    background-size: cover;
    z-index: 4;
}

/* navbar starts */

NAV {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 18px;
    padding-right: 45px;
    align-items: center;
}



nav img {
    width: 180px;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links i {
    display: none;
    color: white;
}

#icon {
    display: none;
}

.nav-links ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    margin: auto;
    display: block;
    background: rgb(13, 197, 166);
    transition: 0.7s;
}

.nav-links ul li:hover::after {
    width: 95%;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 3px;
    font-size: 14px;
}




/* end of navbar */

.text-box {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-box h1 {
    font-size: 3.1rem;
}

.text-box p {
    font-size: 1.05rem;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    padding: 13px 25px;
    position: relative;
    cursor: pointer;
    margin-top: 30px;
}

.hero-btn:hover {
    background-color: rgb(218, 66, 66);
    border: 1px solid rgb(215, 61, 61);
    transition: 1s;
}

/* courses */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    font-size: 2.4rem;
    color: #771919;
}

.ok {
    color: rgb(177, 50, 50);
    font-size: 14px;
    padding-top: 10px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.row h3 {
    color: #771919;
}

.row p {
    padding-top: 20px;
    color: rgb(177, 50, 50);
    font-size: 14px;
}

.course-col {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(235, 234, 232);
    border-radius: 10px;
    margin: 20px;
    box-sizing: border-box;
    transition: 0.5s;
}

.course-col:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);

}

/* our-campus */

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}

.campus h1 {
    font-size: 2.4rem;
    color: #771919;
}

.campus-col {
    overflow: hidden;
    flex-basis: 31%;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    transition: 0.5s;
}

.campus-col img {
    width: 100%;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.layer h3 {
    padding-top: 15px;
    font-size: 22px;
    letter-spacing: 0.179em;
    opacity: 0;
    transition: 1s;
}

.campus-col:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}

.campus-col:hover h3 {
    opacity: 1;
    letter-spacing: 0.488em;
}

/* our facilities */

.facilities {
    padding-top: 70px;
    /* background-color: aliceblue; */
}

.facilities-col {
    flex-basis: 30%;
    margin-top: 40px;
    margin-bottom: 3%;
    border-radius: 15px;
}

.facilities-col img {
    width: 100%;
    border-radius: 15px;
    transition: 0.5s;
}

.facilities .row p {
    padding-top: 5px;
}

.facilities-col img:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
}


/* testimonial rows */

.testimonials {
    padding-top: 70px;
}

.testimonials-col {
    flex-basis: 44%;
    padding: 30px;
    padding-top: 12px;
    border-radius: 15px;
    display: flex;
    background-color: antiquewhite;
    margin: 20px;
    text-align: left;
    height: 180px;
}

.testimonials-col img {
    height: 40px;
    border-radius: 50px;
    margin-left: -20px;
    margin-right: 17px;
    margin-top: 10px;
}

.testimonials p {
    font-size: 15px;
    padding-top: 10px;
    line-height: 1.3;
    letter-spacing: 0.025em;
    /* padding-left: 05px; */
    padding-right: 20px;
    padding-bottom: 20px;
}

.testimonials-col i {
    color: red;
}

/* contact */

.ctn {
    width: 90%;
    margin: 70px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(Image/banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.ctn h1 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    padding: 10px;
}

.footer {
    width: 100%;
    text-align: center;
    font-size: 13px;
    color: rgb(193, 123, 123);
    padding-bottom: 30px;
}

.footer h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.footer p {
    padding-left: 50px;
    padding-right: 50px;
}

.icon {
    padding: 5px;
    padding-bottom: 30px;
}

.icon .fa-brands {
    padding-left: 20px;
    padding-right: 20px;
    color: red;
}



/* END OF 1ST PAGE */

/* -------ABOUT PAGE---------- */


.sub-header {
    height: 400px;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(Image/background.jpg);
    background-size: cover;
    background-position: center;
}

.heading {
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-top: 100px;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 70px;
}

.about-col {
    flex-basis: 44%;
    padding: 10px 10px;
}

.about-col img {
    width: 100%;
}

.about-col h1 {
    font-size: 26px;
    line-height: 1.1;
    letter-spacing: 0.025em;
    font-weight: 700;
    padding-bottom: 4px;
}

.footer-2 {
    color: rgb(92, 42, 42);
}

.about-col p {
    padding: 10px;
}

.explore-but {
    background-color: transparent;
    color: brown;
    border: 1px solid brown;

}

.explore-but:hover {
    color: white;
}

/* -------------end----------------- */

/* -------------------course page---------------- */

.course-facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 70px;
}

.course-facilities h1 {
    font-size: 2.5rem;
    color: #771919;
}


/* --------------blog content-------------- */

.blog-content {
    width: 80%;
    margin: auto;
    padding: 60px 0;
}

.blog-left {
    flex-basis: 60%;
    padding: 10px;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    padding-left: 30px;
    padding-top: 10px;
}

.blog-left p {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 15px;
    line-height: 1.4;
    letter-spacing: 0.032em;
    padding-bottom: 0px;
    padding-top: 0px;
}

.comment-box {
    margin-top: 20px;
    margin: 25px;
    padding: 10px 20px;
    box-shadow: 21px -7px 43px -11px rgba(0, 0, 0, 0.22);
}

.comment-box h3 {
    padding: 10px;
    text-align: left;
}

.comment-form input,
.comment-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
    font-family: 'Courier New', Courier, monospace;
}

.blog-but {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    border-radius: 0px;
}

.blog-right {
    flex-basis: 32%;
    border: 1px solid beige;
    box-shadow: 21px -7px 43px -11px rgba(0, 0, 0, 0.66);
    height: 400px;
}

.blog-right h3 {
    background-color: #5d6a0a;
    color: white;
    padding: 5px;
    margin-left: 4px;
    margin-bottom: 4px;
    /* margin-right: 4px; */
    font-weight: 600;
    font-size: 17px;
    text-align: center;

}

.blog-right div {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    margin: 10px;
    padding: 5px;
}


/* ------------contact page----------- */

.location {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.location iframe {
    width: 100%;
}

.contact-us {
    width: 80%;
    margin: auto;
    padding: 10px;
    padding-bottom: 70px;
}

.contact-col {
    flex-basis: 45%;
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.contact-col i {
    padding-right: 20px;
    color: red;
    font-size: 20px;
}

.contact-col h5 {
    font-size: 16px;
}

.contact-col p {
    padding-top: 0px;
}

#copy {
    display: none;
    position: absolute;
}

.call-section:hover #copy {
    display: block;
    left: 310px;
    top: 1095px;
    color: brown;
    font-size: 15px;
    background-color: rgb(212, 207, 200);
    width: 70px;
    text-align: center;
    border-radius: 15px;
}

.mail-section:hover #copy {
    display: block;
    left: 370px;
    top: 1183px;
    color: brown;
    font-size: 15px;
    background-color: rgb(212, 207, 200);
    width: 70px;
    text-align: center;
    border-radius: 15px;
}

/* ------------right side------------- */

.contact-col-2 {
    flex-basis: 40%;
    background-color: rgb(97, 72, 220);
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.contact-col-2 h3 {
    text-align: center;
    margin: 10px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service-form {
    width: 100%;
    text-align: center;
}

.input-1{
    margin: 16px;
    display: flex;
  justify-content: space-evenly;
}

.service-form input {
    width: 35%;
    padding: 8px;
    border-radius: 6px;
}

.select-course #select-course{
    padding: 7px;
  width: 80%;
}

.select-state #select-state{
    margin-top: 17px;
    padding: 7px;
  width: 80%;
}


.service-form .submit-button {
    color: black;
    border-radius: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: 0.5s;
    margin-top: 0px;
    border: 2px solid #8088ff;
}

.service-form .submit-button:hover {
    letter-spacing: 0.293em;
    color: white;
    border: none;
}